*, *:before, *:after {
  box-sizing: border-box;
  
}


body {
  margin: 40px; 
  background-color: rgba(0, 0, 0, 0.781);
  color: rgb(255, 217, 0);
}


h3 {

padding: 50px;
}

h2 {

  font-size: 22px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #000;
}

h1, p {
  
  margin: 0 0 1em 0;
  size: 2em;
}

.wrapper {
  max-width: 1280px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

header {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header img {
  max-width: 500px;
  margin-bottom: 60px auto 60px auto;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1680px;
    margin: 100px auto;
    margin-bottom: 6rem;   
}

img {
    max-width: 150px;

}



#addPokemon {
  background: black;
  height: 260px;
  width: 200px;
  border-radius: 30px;
  color: white;
  border: 1px solid white;
  margin: 0;
  
}


ul {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}



h5 {
  font-size: 14px;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}

body { font-family: sans-serif; }

.scene {
width: 200px;
height: 260px;
margin: 40px 0;
perspective: 600px;
display: flex;
justify-content: center;
border-color: white;
}


.card {
width: 100%;
height: 100%;
transition: transform 1s;
transform-style: preserve-3d;
position: relative;
}

.card.is-flipped {
transform: rotateY(180deg);
}

.card__face {

position: absolute;
width: 100%;
height: 100%;
line-height: 0px;
color: whitesmoke;
text-align: center;
font-weight: bold;
font-size: 20px;
backface-visibility: hidden;
border: 1px solid #fff;
}

.card__face--front {
background: linear-gradient(black, blue, yellow);
border-color: white;
border-radius: 20px;
}

.card__face--back {

border-radius: 20px;
border-color: white;
transform: rotateY(180deg);
padding: 20px;
}

.picDivs {
padding: 20px;
}


.pokeability {
text-align: justify;
font-size: 0.8em;
margin: 0px auto 20px auto;

}
