h1 {
    color: rgb(50, 131, 50);
    background: rgb(13, 46, 1);
}

main {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: .25rem;
    width: 100%;
    max-width: 1280 px;
    background: rgb(32,32,32);
    color: darkseagreen;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    background-color: rgb(32,32,32);
}

button {
    padding: 25px;
    font-size: 2.5 rem;
    border-radius: 10% / 50%;
    background-color: black;
    color: darkseagreen;
    visibility: visible;
}

h3, p {
    margin: 3px;
}

img {
    width: 160px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkseagreen;
    padding: 3px;

}